#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  align-items: center;
  align-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
